.row {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    position: relative;
    max-width: 32%;
    min-width: 300px;
    height: 170px;
    width: 100%;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    transition: transform .3s ease-in;
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    &:hover {
      transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
    }
  }
}

.col-30 {
  max-width: 28%;
  width: 100%;
  margin: 10px;
  height: 850px;
}

.col-50 {
  max-width: 48%;
  width: 100%;
  margin: 10px;
}

.col-70 {
  max-width: 68%;
  width: 100%;
  margin: 10px;
  max-height: 850px;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
}

.col-100 {
  width: 100%;
  min-width: 600px;
  max-height: 850px;
  height: 100%;
  overflow-y: scroll;
}


