@media screen and (max-width: 1200px) {
  .profile__row {
    display: flex;
    flex-direction: column;
  }

  .col-30 {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .modal__show {
    font-size: 0.8rem;
  }

  .profile {
    height: 100%;
    &__col-30 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    &__avatar {
      max-width: 175px;
      max-height: 275px;
      height: 100%;
      & img {
        height: 275px;
        width: 200px;
      }
    }
    &__nav {
      display: flex;
      flex-direction: row;
      & a {
        text-align: center;
      }
    }
    &__img2 {
      max-width: 175px;
      max-height: 174px;
    }
    &__text {
      display: none;
    }

    &__col-70 {
      max-width: 100%;
      width: 100%;
    }
  }
}
